.event-card {
  max-width: initial;
}

.registration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-form {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 500px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}


.success-msg {
  color: #21cb21;
  margin-top: 15px;
}

.error-msg {
  color: #d52c2c;
  margin-top: 15px;
}
